body 
{
	text-align: center;
	background-color: #EEEEEE;
}
.basefont
{
	font-family: Times New Roman;
	font-size: 14pt;
}
.basefontbold
{
	font-family: Times New Roman;
	font-size: 14pt;
	font-weight: bold;
}
input
{
	font-family: Times New Roman;
}
a:visited
{
	color: #00F;
}
a.NavLink:visited
{
	color:#FFF;
}

td
{
	font-size: 18px;
}
.ImageClass 
{
	border: solid 1px #CCCCCC;
	display:block;

	background-repeat:no-repeat;
	background-position:center;
}
.footerlinks a 
{
	font-family: Times New Roman;
	font-size: 11pt;
}
.footerwebinfo
{
		display:inline;
}
.footerwebinfo tr td
{
	font-family: Times New Roman;
	font-size: 11pt;
	text-align:left;
}
.HeaderTextCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 10px;
	text-align: justify;
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 14pt;
}

.MiddleTextCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 15px;
	text-align: justify;
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 14pt;
}

.FootTextCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: justify;
	font-family: Times New Roman;
	font-size: 14pt;
}

.FootTextCellBlack table tr td
{
	padding: 1px;
	text-align: justify;
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 11pt;
	background-color: #FFF;
	text-align: center;
	vertical-align: top;
	
	width: 144px;
}

.NavLink 
{
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 25pt
}

a.NavLink:hover
{
	color: #FF9900;
	text-decoration: underline;
}

.mainbody 
{
	background-color: #FFFFFF;
}

.greybackground
{
	background-color: #EEEEEE;
}	

.showbookName
{
	font-family: Times New Roman;
	font-size: 14pt;
	font-weight: bold;
	border-bottom: solid 2px #6666CC;
	border-left: solid 2px #6666CC;
	background-color: #DDDDDD;
}

.showbookdesc
{
	font-family: Times New Roman;
	font-size: 18pt;
}

.showbookpricetext
{
	font-family: Times New Roman;
	font-size: 18pt;
}

.viewcartimagetable tr td
{
	font-family: Times New Roman;
	font-size: 14pt;
}

.OrderFormTable
{
	text-align:left;
	font-family:Times New Roman;
	font-size: 14pt;
	background-color: #EEEEEE;
	border: solid 1px #CCCCCC;
}

.OrderFormCell
{
	font-size: 14pt;
	font-family: Times New Roman;
}

.OrderFormTitle
{
	font-size: 12pt;
	font-weight:bold;
	font-family: Times New Roman;
}

.OrderFormSubTitle
{
	font-family: Times New Roman;
	font-size: 14pt;
	font-weight: bold;
	border-bottom: solid 2px #6666CC;
	border-left: solid 2px #6666CC;
	border-top: solid 1px #6666CC;
	border-right: solid 1px #6666CC;
	padding: 4px;
	background-color: #DDDDDD;
}

.ShowImageTable
{
	
	font-family: Times New Roman;
	background-color: #EEEEEE;
	border: solid 1px #CCCCCC;
	width: 570px;
}

.ShowImageTable tr td table tr td
{
	font-size: 18pt;
}

.ShowImageTitle
{
	font-weight: bold;
	font-size: 14pt;
	border-bottom: solid 2px #666699;
	border-left: solid 2px #666699;
	background-color: #DDDDDD;
	padding: 0px 4px;
	text-align: left;
}

.viewcartitemtable
{
	border-bottom: double 3px #DDDDDD;
	font-size: 14pt;
}

.viewcartbookstable
{
	font-family: Times New Roman;
	background-color: #EEEEEE;
	border: solid 1px #CCCCCC;
	font-size: 14pt;
}

.viewcartbookstable tr td
{
	text-align:left ;
}

.viewcartdata
{
	font-size: 14pt;
}

.viewcartsubtitle
{
	font-size: 14pt;
	font-weight: bold;
}

.showbooktable
{
	background-color: #EEEEEE;
	border: solid 1px #CCCCCC;
}

.viewcartTitle
{
	font-weight: bold;
	font-size: 14pt;
	border-bottom: solid 2px #666699;
	border-left: solid 2px #666699;
	background-color: #DDDDDD;
}

.listbooksname
{
	font-family: Times New Roman;
	font-size: 18pt;
}

.galleryoptions
{
	border: solid 1px #CCCCCC;
}

.GalleryLabel
{
	padding-left: 10px;
	text-align: justify;
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 15pt;
}

.ButtonClass
{
	font-size: 14pt;
	font-weight: bold;
}

.BookListLabel
{
	font-weight: bold;
	
}

input.ButtonClass, .FootTextCellBlack input {
   color:#000;
   font-family: Times New Roman;
   font-size:13pt;
   font-weight:bold;
   background-color:#eee;
   border:1px solid;
   border-top-color:#999;
   border-left-color:#999;
   border-right-color:#666;
   border-bottom-color:#666;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#cccccccc');
}
Input
{
	font-size: small;
}
.showorderlist
{
	font-family: Times New Roman;
	font-size: 18pt;
	border: 1px solid;
}

.showordertable tr td
{
	font-family: Times New Roman;
	font-size: 14pt;
	text-align: left;
}

.showordersubtitle
{
	font-weight: bold;
}

.CartInfo
{
	text-decoration: none;
	font-size: smaller;
}

.ListImagesItemStyle
{
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.tbxMargin
{
	margin-left: 8px;
}


.Social {
    border-collapse:collapse;
    background:white;
    margin:3px auto;
    list-style-type:none;
}
.Social A, .Social A:link, .Social A:visited {text-decoration:none;color:Black;}
.Social TD {border:3px solid #015f92;padding:3px;}
.Social LI {margin:6px;text-align:left;}
TABLE.Social A IMG {height:30px;width:30px;border-style:none;}
UL.Social {padding:0;font-weight: bold;
font-family: Times New Roman;
font-size: 14pt;}

UL.Social A IMG {height:20px;width:20px;border-style:none;vertical-align:middle;}
