<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="KlemcollEmail" value="klemcoll@aol.com"/>
    <!--<add key="KlemcollEmail" value="eugene@expdatasol.com" />-->
    <add key="SMTPServer" value="mail2.expdatasol.com"/>
    <add key="PayPalEmail" value="info@klemcoll.com"/>
    <!--<add key="PayPalEmail" value="wraven@live.com" />-->
    <add key="SecureBaseAddress" value="http://klemantaski.com/"/>
    <add key="OrderCompleteAddress" value="http://www.klemantaski.com/Default.aspx?clearcart=1"/>
    <!--alexy's config-->
    <add key="SendGridApiKey" value="SEND_GRID_API_KEY"/>
    <add key="FromEmail" value="noreply@klemcoll.com"/>
    <add key="ToEmail" value="eugene@expdatasol.com"/>
  </appSettings>
  <connectionStrings>
    <!--Local ConnectionString-->
    <add name="Klemcoll.DAL.My.MySettings.KlemCollConnectionString" connectionString="Data Source=(local);Initial Catalog=Klemcoll;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <!--Azure ConnectionString-->
    <!--<add name="Klemcoll.DAL.My.MySettings.KlemCollConnectionString" connectionString="Data Source=tcp:klemcoll.database.windows.net,1433;Initial Catalog=Klemcoll;User ID=klemcolladmin;Password=Jdlg&amp;849Hkq" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation strict="true" explicit="true" targetFramework="4.6.1" debug="true">
      <assemblies>
        <add assembly="dotnetSHIP, Version=5.0.0.0, Culture=neutral, PublicKeyToken=91885c727fb89dee"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="secure/Login.aspx" defaultUrl="secure/Default.aspx" protection="All" timeout="30">
        <credentials passwordFormat="Clear">
          <user name="psachs" password="P3120872s"/>
          <user name="test" password="user"/>
        </credentials>
      </forms>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer/>
</configuration>
<!--ProjectGuid: EDD0F036-23B4-40EA-9614-13BDDF7DDD8C-->