<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Klemcoll.DAL.My.MySettings.KlemCollConnectionString" connectionString="Data Source=sqlprod2.expdatasol.com;Initial Catalog=Klemcoll;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
